h1 {
    text-align: left;
    color:white;
    background-color:black ;
    font-family: cursive;
    }
h1 > span {
    color: cyan;
}

h2 {
    text-align: center;
    color: white;
    background-color: rgb(39, 0, 39);
    font-style: italic;
    font-family: sans-serif;
}

h3 {
    text-align: right;
    color: rgb(0, 24, 0);
    background-color: rgb(145, 208, 233);
    text-decoration: underline;
    font-family: serif;
}